<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.id})}"  th:object="${user}">


    <label for="name">Name</label>
    <input th:field="*{name}" type="text" name="name" id="name">

    <label for="lastName">lastName</label>
    <input th:field="*{lastName}" type="text" name="lastName" id="lastName">

    <label for="email">email</label>
    <input th:field="*{email}" type="text" name="email" id="email">

    <input type="submit" value="Edit user">
</form>
</body>
</html>